<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SeeSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CheckForUpdates" value="True"/>
    <add key="AutoUpdate" value="False"/>
    <add key="ShowCLIButton" value="False"/>
    <add key="WatchPaletteDir" value="True"/>
  </appSettings>
  <userSettings>
    <SeeSharp.Properties.Settings>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCLIButton" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MTThreadCount" serializeAs="String">
        <value>0</value>
      </setting>
    </SeeSharp.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
